:host {
  .grid-container {
    display: grid;
    grid: auto-flow 300px / repeat(auto-fill, 200px);
    align-items: stretch;
    justify-content: center;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
  }
}
