<mat-toolbar>
    <div class="nav-item">
        @if (rla.isActive) {
            <div class="active-item photos">
            </div>
        }
        <a
        mat-button
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        #rla="routerLinkActive"
        href="/">
            <div>
                <mat-icon>photo_camera</mat-icon>
                <span> Photos </span> 
            </div>
        </a>
    </div>

    <div class="nav-item">
        @if (rlaFav.isActive) {
            <div class="active-item favorite">
            </div>
        }
        <a
        mat-button
        routerLink="/favorites"
        routerLinkActive="active"
        #rlaFav="routerLinkActive"
        href="/favorites">
            <div>
                <mat-icon>favorite</mat-icon>
                <span> Favorites </span> 
            </div>
        </a>
    </div>

  </mat-toolbar>
