<mat-toolbar>
  <div class="nav-item">
    <a
      class="nav-button"
      mat-button
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      #rla="routerLinkActive"
      href="/"
      >Photos</a
    >
    @if (rla.isActive) {
    <div class="active-item"></div>
    }
  </div>

  <div class="nav-item">
    <a
      class="nav-button"
      mat-button
      routerLink="/favorites"
      routerLinkActive="active"
      #rlaFav="routerLinkActive"
      href="/favorites"
      >Favorites</a
    >
    @if (rlaFav.isActive) {
    <div class="active-item"></div>
    }
  </div>
</mat-toolbar>
