:host {
  mat-toolbar {
    display: flex;
    justify-content: center;
    gap: 8px;

    > .nav-item {
      position: relative;
      flex: 0 1 100px;

      .nav-button {
        width: 100%;
      }

      .active-item {
        view-transition-name: selected-route;
        width: 100%;
        height: 100%;
        border-radius: var(--mat-sys-corner-full);
        background-color: color-mix(
          in srgb,
          var(--mat-sys-primary) 30%,
          transparent
        );
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
      }
    }
  }
}
